---
// src/pages/blog/[...slug].astro
export const prerender = true;

import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import ArticleTopLayout from '../../layouts/ArticleTopLayout.astro';
import ArticleBottomLayout from '../../layouts/ArticleBottomLayout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  return allPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, summary } = post.data;
const { Content } = await post.render();
---
<Layout title={title} description={summary}>
  <Container size="lg">
    <section class="border border-[var(--color-border)] p-8 my-16">
        <div class="grid-bg justify-center items-center flex-col w-auto ">
          <ArticleTopLayout entry={post} />
          <article class="prose flex-grow">
            <Content />
          </article>
          <ArticleBottomLayout entry={post} />
        </div>
    </section>
  </Container>
</Layout>
<style>
  .grid-bg {
    position: relative;
    z-index: 0;
  }
  .grid-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: var(--color-bg);
    z-index: -1;
    pointer-events: none;
  }
</style>