---
//src/pages/blog/index.astro
import { BLOG, SITE } from "../../consts";
import { fetchBlog } from '../../utils/fetchBlog'
import BaseLayout from '../../layouts/BaseLayout.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import Hero from "../../components/Hero.astro";
import PostLists from '../../components/PostLists.tsx';

const PostList = await fetchBlog();
const Post = PostList
const Fallback = 'Tidak ada postingan'
---

<BaseLayout title={BLOG.title || SITE.title} description={BLOG.description}>
    {Post.length > 0 ? (
      <TopLayout>
        <Hero title={BLOG.title} subtitle={BLOG.description} />
        <section>
        <script is:inline defer type="text/javascript">
          atOptions = {
            'key': '9ec096002c2fad1b9d684a8a1057f653',
            'format': 'iframe',
            'height': 60,
            'width': 468,
            'params': {},
            'accessibility': 'Ads'
          };
        </script>
        <script is:inline defer src="//www.highperformanceformat.com/9ec096002c2fad1b9d684a8a1057f653/invoke.js"></script>
      </section>
      </TopLayout>
      <BottomLayout>
        <section>
          <PostLists client:load />
        </section>
      </BottomLayout>
      ) : (
        <main class="min-h-[dvh] h-full flex-1 flex-col justify-center items-center text-center p-6">
          <p class="text-xl text-center text-[var(--color-muted)] mb-6">{Fallback}</p>
          <a href="/" class="group flex w-auto items-center rounded-xl bg-[var(--color-bg)] border border-[var(--color-border)] px-2 py-1 text-[var(--color-fg)] hover:bg-[var(--color-hover)]">
            <div class="flex w-full items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="items-center stroke-[var(--color-muted)] group-hover:stroke-[var(--color-fg)]">
                <line x1="19" y1="12" x2="5" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                <polyline points="12 19 5 12 12 5" class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
              </svg>
              <span class="w-full items-center">
                Kembali ke Beranda
              </span>
            </div>
          </a>
        </main>
      )}
</BaseLayout>
