---
//src/pages/blog/index.astro
import { BLOG, SITE } from "../../consts";
import BaseLayout from '../../layouts/BaseLayout.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import PostLists from '../../components/PostLists.tsx';
import Navigation from '../../components/Navigation.astro';
---

<BaseLayout title={BLOG.title || SITE.title} description={BLOG.description}>
  <Container size="md">
    <TopLayout>
      <Hero title={BLOG.title} subtitle={BLOG.description} />
    </TopLayout>
    <section>
      <script defer type="text/javascript">
        atOptions = {
          'key': '9ec096002c2fad1b9d684a8a1057f653',
          'format': 'iframe',
          'height': 60,
          'width': 468,
          'params': {},
          'accessibility': 'Ads'
        };
      </script>
      <script is:inline src="//www.highperformanceformat.com/9ec096002c2fad1b9d684a8a1057f653/invoke.js"></script>
    </section>
    <section class="py-6">
      <PostLists client:load />
    </section>
    <BottomLayout>
      <Navigation />
    </BottomLayout>
  </Container>
</BaseLayout>
