---
// src/pages/contact.astro
import BaseLayout from '../../layouts/BaseLayout.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import { CONTACT } from '../../consts';
import {Image} from 'astro:assets';
import Container from '../../components/Container.astro';

---
<BaseLayout title={CONTACT.TITLE} description={CONTACT.DESCRIPTION}>
    <TopLayout class="prose">
        <div class="flex flex-col md:flex-row gap-8">
            <div class='flex flex-col w-auto text-center md:text-left p-8'>
                <h1>Hubungi Saya</h1>
                <div class="prose flex flex-col items-center text-center justify-center">
                    <summary>Ingin berkolaborasi atau sekadar menyapa? Silakan isi form.</summary>
                    <Image src='/open-graph.jpg' alt={CONTACT.TITLE} width="960"height="480" />
                </div>    
            </div>
            <form class="w-full space-y-6 bg-[var(--color-bg-secondary)] border border-[var(--color-border)] p-8 shadow-sm rounded-lg" on:submit|preventDefault={() => alert('Pesan berhasil dikirim!')}>
                <div class="mt-4 mb-4">
                    <label for="name" class="block text-lg mb-2">Nama</label>
                    <input id="name" name="name" type="text" required class="w-full text-md px-4 py-2 rounded-lg border border-[var(--color-border)] bg-[var(--color-bg)] placeholder:text-[var(--color-muted)] focus:outline-none focus:ring-2 focus:ring-primary" placeholder="Nama kamu" />
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-lg mb-2">Email</label>
                    <input id="email" name="email" type="email" required class="w-full text-md px-4 py-2 rounded-lg border border-[var(--color-border)] bg-[var(--color-bg)] placeholder:text-[var(--color-muted)] focus:outline-none focus:ring-2 focus:ring-primary" placeholder="email@example.com" />
                </div>   
                <div class="mb-4">
                    <label for="message" class="block text-lg mb-2">Pesan</label>
                    <textarea id="message" name="message" required rows="5" class="w-full text-md px-4 py-2 rounded-md border border-[var(--color-border)] bg-[var(--color-bg)] placeholder:text-[var(--color-muted)] focus:outline-none focus:ring-2 focus:ring-primary" placeholder="Tulis pesanmu di sini..." />
                </div>
                <button type="submit" class="justify-center w-full font-semibold py-2 px-4 bg-[var(--color-accent)] cursor-pointer text-[var(--color-fg)] rounded-full hover:text[var(--color-accent-fg)] transition">Kirim Pesan</button>
            </form>
        </div>  
    </TopLayout>
    <BottomLayout>
        <p class="prose">Atau hubungi saya langsung melalui <a href="mailto:bimaakbar@my.id">email</a></p>
    </BottomLayout>
</BaseLayout>
