---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Blog">
  <h1 class="text-4xl font-bold">Halaman Blog</h1>
  <p class="mt-4 text-gray-400">Daftar postingan akan muncul di sini.</p>
</Layout>