---
// src/pages/index.astro
import { HOME } from "../consts"
import BaseLayout from '../layouts/BaseLayout.astro';
import TopLayout from '../layouts/TopLayout.astro';
import BottomLayout from '../layouts/BottomLayout.astro';
import Container from "../components/Container.astro"
import Hero from '../components/Hero.astro';
import FeaturedPosts from '../components/FeaturedPosts.astro';
import RecentPosts from '../components/RecentPosts.tsx';
import Navigation from '../components/Navigation.astro';

---

<BaseLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<TopLayout>
		<section id="hero" class="py-2">
			<Hero />
		</section>
	</TopLayout>
	<Container size="lg">
		<section id="Featured-post" class="py-2">
			<FeaturedPosts />
		</section>
		<section id="Recent-post" class="py-2">
			<RecentPosts client:only="react" />
		</section>
	</Container>
	<BottomLayout>
		<section id="navigation-section">
			<Navigation />
		</section>	
	</BottomLayout>
</BaseLayout>