---
// src/components/Footer.astro
import { SITE, SOCIALS } from "../consts"
import Container from "../components/Container.astro"
import StatusIndicator from '../components/StatusIndicator.astro';

const currentYear = new Date().getFullYear();
---

<footer class="border-t border-[var(--color-border)]">
  <Container size="xl">
    <div class="w-full flex flex-col md:flex-row gap-2 whitespace-nowrap items-center py-2">
      <div class="flex w-full flex-grow items-center text-sm text-[var(--color-muted)] text-center">
        &copy; {currentYear} <a href="/" class="text-[var(--color-muted)] hover:text-[var(--color-fg)] px-1">{SITE.TITLE}</a>. All rights reserved.
      </div>
      <div class="flex-shrink-0">
        <StatusIndicator />
      </div>
    </div>
  </Container>
</footer>
