---
// src/components/Footer.astro
import { Image } from 'astro:assets';
import { SITE } from "../consts";
import { con } from "../lib/utils"
import Container from "./Container.astro"
import Navigation from "./Navigation.astro";
import StatusIndicator from './StatusIndicator.astro';
import DarkMode from "./ui/DarkMode.astro";
import Copyrgiht from './ui/Copyright.astro';
---

<footer class="bg-[var(--color-bg)] backdrop-blur-md border-t border-[var(--color-border)]">
  <Container size="md">
    <div class="flex flex-col w-full items-center">
      <div class="w-full flex items-center">
        <div class="flex-1 items-center">
          <StatusIndicator />
        </div>
        <div class="flex-shrink-0 items-center text-start h-auto w-auto">
          <a href="/" aria-label={`Logo ${SITE.title}`} 
          class={con("w-auto h-auto md:block", "items-center text-center justify-start", "stroke-[var(--color-muted)] hover:stroke-[var(--color-fg)]", "cursor-pointer")}>
          <Image src='../../src/assets/bimaakbar-logo.png' alt={SITE.title} width={16} height={16} loading="eager" />
          </a>
        </div>
        
      </div>
      <section class="w-full">
        <Navigation />
      </section>
      <div class="flex w-full flex-shrink-0 items-center text-center py-4">
        <div class="flex-1 items-center">
          <section id="copyright" class="w-full">
            <Copyrgiht />
          </section>
        </div>
        <div class="flex-shrink-0 items-center">
          <DarkMode />
        </div>
      </div>
    </div>
  </Container>
</footer>