---
// src/components/RecentProjects.astro
import { getCollection } from 'astro:content';
import Card from './Card.tsx';

const recentProjects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)
---
<section id='recent-projects' class="container mx-auto py-16 md:py-24">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold text-[var(--color-fg)]">Projects Terbaru</h2>
    <div class="flex flex-row gap-2 items-center hover:text-[var(--color-fg)] text-[var(--color-muted)] border border-[var(--color-border)] hover:bg-[var(--color-hover)] py-2 px-2 rounded-lg transition-colors cursor-pointer">
      <a href="/projects" class="font-semibold text-sm hidden sm:block">
        Semua Projects
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="stroke-current group-hover:stroke-[var(--color-fg)]">
        <line x1="5" y1="12" x2="19" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out" />
        <polyline points="12 5 19 12 12 19" class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out" />
      </svg>
    </div>
  </div>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 auto-rows-fr">
    {recentProjects.map((project) => (
      <li>
        <Card entry={project} />
      </li>
    ))}
  </ul>
</section>