---
// src/components/RecentProjects.astro
import { getCollection } from 'astro:content';
import Card from './Card.tsx';
import Container from "../components/Container.astro"

const recentProjects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,4)
---
<section id='recent-projects' class="container mx-auto py-22">
  <Container size="xl">
    <div class="group flex flex-row justify-between items-center py-4">
      <h2 class="text-xl font-bold text-[var(--color-fg)] flex-1">Projects Terbaru</h2>
      <a href="/projects" class="flex flex-row items-center text-[var(--color-muted)] hover:text-[var(--color-fg)] border border-[var(--color-border)] hover:bg-[var(--color-hover)] py-2 px-2 rounded-xl cursor-pointer">
        <span class="font-semibold text-sm">
          Semua Projects
        </span>
      </a>
    </div>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 auto-rows-fr">
      {recentProjects.map((project) => (
        <li>
          <Card entry={project} />
        </li>
      ))}
    </ul>
</Container>
</section>