---
import Layout from '../../layouts/Layout.astro';
import { PROJECTS } from "../../consts"
---
<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <section class="container mx-auto">
    <div class="flex flex-col text-left items-left mt-16">
      <h1 class="text-3xl font-semibold text-[var(--color-fg)]">
        {PROJECTS.TITLE}
      </h1>
      <span class="mt-1">
        {PROJECTS.DESCRIPTION}
      </span>
    </div>
  </section>
</Layout>
