---
import "../styles/global.css";
import Container from '../components/Container.astro';
import Footer from '../components/Footer.astro';

const { children } = Astro.props;
---

<html lang="id" class="dark">
  <head>
    <meta charset="UTF-8" />
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="border-b border-[var(--color-border)] sticky top-0 items-center">
        <Container size="lg">
            <h1>Dashboard</h1>
        </Container>  
    </header>
    <Container size="lg">
      <main>
<slot />
</main>
    </Container>
    <Container size="lg">
      <Footer />
  </Container>
  </body>
</html>
