---
// src/layouts/Layout.astro
import "../styles/global.css";
import Container from "../components/Container.astro"
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { SITE } from "../consts"
import ReadingProgress from '../components/ReadingProgress';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="id">
    <head>
        <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} />
    </head>
    <body class="grid-bg">
        <Header />
        <main>
            <slot />
        </main>
        <section id="bottom-section" class="w-full">
            <Container size="xl">
                <Navigation />
            </Container>       
		</section>	
        <Footer />
        <ReadingProgress client:load /> 
    </body>
</html>