---
// src/layouts/Layout.astro
import "../styles/global.css";
import Container from "../components/Container.astro"
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.tsx';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { SITE } from "../consts"
import ReadingProgress from '../components/ReadingProgress.tsx';
import BackToTop from '../components/BackToTop.tsx';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="id">
    <head>
        <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} />
    </head>
    <body class="grid-bg">
        <Header client:idle />
        <main>
            <slot />
        </main>
        <section id="bottom-section" class="w-full">
            <Container size="xl">
                <BackToTop client:load />
            </Container>
            <Container size="xl">
                <Navigation />
            </Container>       
		</section>	
        <Footer />
        <ReadingProgress client:load /> 
        <style>
            .grid-bg {
              position: relative;
              z-index: 0;
            }
            
            .grid-bg::before {
              content: "";
              position: absolute;
              inset: 0;
              background-image:
                linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
                linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
              background-size: 80px 80px;
              background-color: var(--color-bg);
              z-index: -1;
              pointer-events: none;
            }
        </style>
    </body>
</html>