---
//src/components/ui/Copyright.astro
import { SITE } from "../../consts"

const currentYear = new Date().getFullYear();
---

<div class="flex flex-shrink-0 items-center text-sm text-left text-[var(--color-muted)]">
    <p>&copy; {currentYear}.<a href="/" class="text-[var(--color-muted)] hover:text-[var(--color-fg)] px-1">{SITE.title}</a></p>
</div>